@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

:root {
    --primary: #3d9970;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* navbar */

.navbar {
    height: 64px;
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    display: inline-flex;
    flex-direction: row nowrap;
    position: fixed;
    align-items: center;
    font-family: 'Inclusive Sans';
    font-weight: bolder;
}

.homebtn {
    background-color: transparent;
    border: none;
}

.homebtn:hover {
    cursor: pointer;
}

.navimg {
    max-height: 64px;
    padding: 7px;
}

.navlinks {
    width: 100%;
    text-align: right;
}

.navlinks a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    transition: 0.25s;
    border-radius: 10px;
}

.navlinks a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

#bookbtn {
    font-size: 1.4em;
    background-color: var(--primary);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin: 0 7px;
    transition: 0.25s;
}

#bookbtn:hover {
   cursor: pointer; 
   background-color: #3d9970c1;
}


/* main content */
.welcome {

}
